<%- include('../partials/header') -%>

<div class="container d-flex justify-content-between">
  <a class="text-white" href="/plan">Back</a>
  <a class="text-white" href="/logout">Logout</a>
</div>

<div class="container sundaySection">
  <div class="row">
    <div class="d-flex justify-content-center">
      <h2 class="text-white">
        <i>Sunday</i>
      </h2>
    </div>
  </div>

  <div class="row text-white">
      <form action="/post/createPost" method="POST">
        <ul class="d-flex flex-column align-items-center workout-rows">
            <% workouts.forEach( el => { %>
                <% if (el.isSunday) { %>
                    <li class="pt-3" data-id='<%=el._id%>'>
                        <span name="title" class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.title %></span>
                    </li>
                    <li class="pb-1" data-id='<%=el._id%>'>
                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'>Sets: <%= el.sets %> | </span>
                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'>Reps: <%= el.reps %> | </span>
                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'>Weight: <%= el.weight %> | </span>
                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'>PR: <%= el.personalRecord %></span>
                    </li>
                    <li class="pb-3" data-id='<%=el._id%>'>
                      <div class="row">
                        <div class="col">
                            <i class="fa-solid fa-pencil"></i>
                        </div>
                        <div class="col">
                            <i class="fa-solid <%= el.completed === true ? 'fa-square-check' : 'fa-square' %>"></i> 
                        </div>
                        <div class="del col">
                            <i class="fa-regular fa-trash-can"></i>
                        </div>
                      </div>
                    </li>
                <% } %>
            <% }) %>    
        <!-- </ul>
        <button type="submit" class="btn btn-secondary">Submit</button> -->
      </form>
  </div>

  <!-- Button trigger modal -->
  <div class="row d-flex justify-content-center">
    <button
      type="button"
      class="btn btn-secondary add-workout-button m-1"
      data-bs-toggle="modal"
      data-bs-target="#exampleModalCenter"
    >
      Add Workout
    </button>
    <button type="button"
      class="btn btn-secondary add-workout-button m-1 reset"
      >
      <a action="/todos/resetTodo">Reset</a>
    </button>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Workout</h5>
        </div>
        <div class="modal-body">
          <!-- Form -->
          <form action="/post/createSundayWorkout" method="POST">
            <div class="row mb-3 d-flex justify-content-center">
              <!-- Workout Title -->
              <div class="col-10">
                <label for="title" class="form-label">Workout</label>
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  name="title"
                />
              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <!-- Sets -->
              <div class="col-5 form-group mb-3">
                <label for="sets" class="form-label">Sets</label>
                <input type="text" class="form-control" id="sets" name="sets" />
              </div>
              <!-- Repts -->
              <div class="col-5 form-group mb-3">
                <label for="reps" class="form-label">Reps</label>
                <input type="text" class="form-control" id="reps" name="reps" />
              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <!-- Weight -->
              <div class="col-5 form-group mb-3">
                <label for="weight" class="form-label">Weight</label>
                <input
                  type="text"
                  class="form-control"
                  id="weight"
                  name="weight"
                />
              </div>
              <!-- PR -->
              <div class="col-5 form-group mb-3">
                <label for="personalRecord" class="form-label">PR</label>
                <input
                  type="text"
                  class="form-control"
                  id="personalRecord"
                  name="personalRecord"
                />
              </div>
            </div>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal End -->
</div>

<%- include('../partials/footer') -%>
