<%- include('../partials/header') -%>
<%- include('../partials/navbar') -%>

<div class="container sundaySection">
  <div class="row">
    <div class="d-flex justify-content-center">
      <h2 class="text-white">
        <i>Sunday</i>
      </h2>
    </div>
  </div>

  <div class="row text-white">
        <ul class="d-flex flex-column align-items-center workout-rows">
            <% workouts.forEach( el => { %>
                <% if (el.isSunday) { %>
                    <li class="pt-3" data-id='<%=el._id%>'>
                      <!-- <input type="checkbox" id="checked" value="<%= el.title %>" name="title">
                        <label for="<%= el.title %>" name="title""><%= el.title %></label> -->
                        <span name="title" class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.title %></span>
                    </li>
                    <li class="pb-1" data-id='<%=el._id%>'>
                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'>Sets: <%= el.sets %> | </span>
                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'>Reps: <%= el.reps %> | </span>
                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'>Weight: <%= el.weight %> | </span>
                        <span class='<%= el.completed === true ? 'completed' : 'not'%>'>PR: <%= el.personalRecord %></span>
                    </li>
                    <li class="pb-3" data-id='<%=el._id%>'>
                      <!-- Edit workout trigger modal -->
                      <span>
                        <a type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#editWorkoutModal">
                          <i class="fa-solid fa-pencil"></i>
                        </a>
                      </span>
                        <i class="pr-2 fa-solid <%= el.completed === true ? 'fa-circle-check' : 'fa-circle' %>"></i>
                      <span class="del"><i class="fa-regular fa-trash-can"></i></span>
                    </li>
                <% } %>
          <% }) %>    
          <div class="row d-flex justify-content-center flex-row">
            <!-- Submit For Post Button -->
            <div class="col">
              <button type="submit" class="btn btn-secondary daily-buttons mb-2">Save</button>
            </div>
            <!-- Reset Button -->
            <div class="col">
                <a action="/todos/resetTodo">
                <button type="button"
                class="btn btn-secondary daily-buttons reset mb-2"
                > 
                Reset
              </button>
              </a>
            </div>
          </div>
        </ul>
        


      <div class="row d-flex justify-content-center flex-row m-0">
        <button
        type="button"
        class="btn btn-secondary daily-buttons m-1"
        data-bs-toggle="modal"
        data-bs-target="#exampleModalCenter"
        >
        Add Workout
      </button>
      </div>
      
  </div>

  <!--Add Workout Modal -->
  <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Workout</h5>
        </div>
        <div class="modal-body">
          <!-- Form -->
          <form action="/post/createSundayWorkout" method="POST">
            <div class="row mb-3 d-flex justify-content-center">
              <!-- Workout Title -->
              <div class="col-10">
                <label for="title" class="form-label">Workout</label>
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  name="title"
                />
              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <!-- Sets -->
              <div class="col-5 form-group mb-3">
                <label for="sets" class="form-label">Sets</label>
                <input type="text" class="form-control" id="sets" name="sets" />
              </div>
              <!-- Repts -->
              <div class="col-5 form-group mb-3">
                <label for="reps" class="form-label">Reps</label>
                <input type="text" class="form-control" id="reps" name="reps" />
              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <!-- Weight -->
              <div class="col-5 form-group mb-3">
                <label for="weight" class="form-label">Weight</label>
                <input
                  type="text"
                  class="form-control"
                  id="weight"
                  name="weight"
                />
              </div>
              <!-- PR -->
              <div class="col-5 form-group mb-3">
                <label for="personalRecord" class="form-label">PR</label>
                <input
                  type="text"
                  class="form-control"
                  id="personalRecord"
                  name="personalRecord"
                />
              </div>
            </div>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-secondary">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal End -->
</div>


<!-- Edit Workout Modal -->
<div
    class="modal fade"
    id="editWorkoutModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
  <% workouts.forEach( el => { %>
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit Workout</h5>
        </div>
        <div class="modal-body">
          <!-- Form -->
          <form action="/edit/editSundayWorkout/?_method=PUT" method="POST">
            <div class="row mb-3 d-flex justify-content-center">
              <!-- Workout Title -->
              <div class="col-10">
                <label for="title" class="form-label"><%= el.title %></label>
              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <!-- Sets -->
              <div class="col-5 form-group mb-3">
                <label for="sets" class="form-label">Sets</label>
                <input type="text" class="form-control" id="sets" name="sets" />
              </div>
              <!-- Repts -->
              <div class="col-5 form-group mb-3">
                <label for="reps" class="form-label">Reps</label>
                <input type="text" class="form-control" id="reps" name="reps" />
              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <!-- Weight -->
              <div class="col-5 form-group mb-3">
                <label for="weight" class="form-label">Weight</label>
                <input
                  type="text"
                  class="form-control"
                  id="weight"
                  name="weight"
                />
              </div>
              <!-- PR -->
              <div class="col-5 form-group mb-3">
                <label for="personalRecord" class="form-label">PR</label>
                <input
                  type="text"
                  class="form-control"
                  id="personalRecord"
                  name="personalRecord"
                  placeholder="<%= el.personalRecord %>"
                />
              </div>
            </div>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              Close
            </button>
            <button type="submit" class="btn btn-secondary">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  <% }) %>  
  </div>
  <!-- Modal End -->
</div>

<%- include('../partials/footer') -%>
