<!-- Navbar -->
<%- include('partials/header') -%> <%- include('partials/navbar') -%>

<!-- Main Content -->
<div class="container feedSection">
  <!-- My PB Header Section-->
  <div class="row pt-5">
    <!-- Flex Container -->
    <div class="d-flex justify-content-center">
      <!-- Header Text -->
      <h2 class="text-white">
        <i>My PBs</i>
      </h2>
    </div>
  </div>
  <!-- Add New PB Section-->
  <div class="row">
    <!-- Columns of PR's submitted by user -->
    <div class="col-12 d-flex justify-content-center">
      <ul class="list-unstyled d-flex flex-column ">
        <% for(var i=0; i<post.length; i++) {%>
          <li class="col mt-1 text-white personalBest">
              <span>
                <%= post[i].name %>:
              </span>
              <span>
                <%= post[i].personalRecord %>
              </span>
              <!-- Edit PB Trigger Modal -->
              <span>
                <a type="button"
                data-bs-toggle="modal"
                data-bs-target="#editModal"
                data-id='<%=post[i]._id%>'
                data-bs-workouts="<%= post[i].name %>" 
                class="triggerEditModal">
                  <i class="fa-solid fa-pencil"></i>
                </a>
              </span>
          </li>
           <!-- Edit PB Modal -->
           <div
           class="modal fade"
           id="editModal"
           tabindex="-1"
           role="dialog"
           aria-labelledby="addPersonalBestTitle"
           aria-hidden="true"
            >
           <div class="modal-dialog modal-dialog-centered" role="document">
             <div class="modal-content">
              <!-- Text Container -->
               <div class="modal-header d-flex justify-content-center">
                <!-- Header -->
                 <h5 class="modal-title" id="addPersonalBest">Personal Best</h5>
               </div>
               <div class="modal-body">
                  <form action="">
                   <div class="row mb-3 d-flex justify-content-center">
                   
                     <div class="col-10">
                       <label for="name" class="form-label" id="workout-name">Name</label>
                       <!-- <input
                         type="text"
                         class="form-control"
                         id="name"
                         name="name"
                       /> -->
                     </div>
                   </div>
                   <a action="/todos/editModalInfo" data-id="0" id="update">
                   <div class="row d-flex justify-content-center pb-4">
                     <div class="col-10">
                       <label for="personalRecord" class="form-label">PR</label>
                       <input
                         type="text"
                         class="form-control"
                         id="personalRecord"
                         name="personalRecord"
                       />
                     </div>
                   </div>
                   <!-- Close -->
                   <button
                     type="button"
                     class="btn btn-secondary"
                     data-bs-dismiss="modal"
                   >
                     Close
                   </button>

                    <button type="button" class="btn btn-secondary editPr">
                      Save changes
                    </button>
                   </a>
                 </form>
               </div>
             </div>
           </div>
         </div>
        <% } %>
      </ul>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>




