<%- include('partials/header') -%> <%- include('partials/navbar') -%>

<div class="container feedSection">
  <div class="row">
    <div class="d-flex justify-content-center">
      <h2 class="text-white">
        <i>Diary</i>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul class="row list-unstyled">
        <% for(var i=0; i<post.length; i++) {%>
          <li class="col justify-content-between mt-5">
            <a href="/post/<%= post[i]._id%>" class="text-white">
              <%= post[i].title %>
            </a>
            <form
            action="/post/deletePost/<%= post[i].id %>?_method=DELETE"
            method="POST"
            class="col-3"
          >
            <button class="btn btn-primary fa fa-trash" type="submit"></button>
          </form>
          </li>
        <% } %>
        </ul>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
