<%- include('partials/header') -%>

<div class="container d-flex justify-content-between">
  <a class="text-white" href="/profile">Back</a>
  <a class="text-white" href="/logout">Logout</a>
</div>

<div class="container planSection">
  <div class="row">
    <div class="d-flex justify-content-center">
      <h2 class="text-white">
        <i>Plan</i>
      </h2>
    </div>
  </div>
  <div class="row plan-rows">
    <div class="col-2 align-items-center p-4">
      <div class="text-white">Sunday</div>
    </div>
    <div
      class="col-8 d-flex align-items-center justify-content-center text-white flex-wrap"
    >
      <!-- <img src="../public/css/images/takingNotes.png" alt="Notebook" /> -->
      <!-- <% workouts.forEach( el => { %>
      <div><%= el.title%></div>
      <% }) %> -->
      <% for(var i = 0; i <workouts.length; i++) { %> 
        <% if(i === workouts.length - 1) { %>
      <div><%= workouts[i].title%> </div>
      <% } else { %>
      <div><%=workouts[i].title %>| </div>
      <div> </div>
      <% } %> <% } %>
    </div>
    <div class="col-2 d-flex align-items-center">
      <a href="/sunday">
        <i class="fa-solid fa-chevron-right text-white"></i>
      </a>
    </div>
  </div>
  <div class="row plan-rows">
    <div class="col-10 align-items-center p-4">
      <div class="text-white">Monday</div>
    </div>
    <div class="col-2 d-flex align-items-center">
      <a href="/monday">
        <i class="fa-solid fa-chevron-right text-white"></i>
      </a>
    </div>
  </div>
  <div class="row plan-rows">
    <div class="col-10 align-items-center p-4">
      <div class="text-white">Tuesday</div>
    </div>
    <div class="col-2 d-flex align-items-center">
      <a href="/tuesday">
        <i class="fa-solid fa-chevron-right text-white"></i>
      </a>
    </div>
  </div>
  <div class="row plan-rows">
    <div class="col-10 align-items-center p-4">
      <div class="text-white">Wednesday</div>
    </div>
    <div class="col-2 d-flex align-items-center">
      <a href="/wednesday">
        <i class="fa-solid fa-chevron-right text-white"></i>
      </a>
    </div>
  </div>
  <div class="row plan-rows">
    <div class="col-10 align-items-center p-4">
      <div class="text-white">Thursday</div>
    </div>
    <div class="col-2 d-flex align-items-center">
      <a href="/thursday">
        <i class="fa-solid fa-chevron-right text-white"></i>
      </a>
    </div>
  </div>
  <div class="row plan-rows">
    <div class="col-10 align-items-center p-4">
      <div class="text-white">Friday</div>
    </div>
    <div class="col-2 d-flex align-items-center">
      <a href="/friday">
        <i class="fa-solid fa-chevron-right text-white"></i>
      </a>
    </div>
  </div>
  <div class="row plan-rows">
    <div class="col-10 align-items-center p-4">
      <div class="text-white">Saturday</div>
    </div>
    <div class="col-2 d-flex align-items-center">
      <a href="/saturday">
        <i class="fa-solid fa-chevron-right text-white"></i>
      </a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
